FreeCodeCamp
Scripts/ideas.txt
bewertung_schachalgorhythmus.png
Scripts/HangmanGame/wordlist.txt
CursesModuleExample.py
Scripts/TypingSpeedTest/work_env
Scripts/RockPaperScissors/rps_old.py
__pycache__
